<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="utf-8">
    <!--[if lt IE 9]>
    <script>
        document.createElement('video');
    </script>
    <![endif]-->
</head>
<body>
<a href="#"><img src="../../angular/img/logo.svg" class="logo"><img src="../../angular/img/logo.svg" class="logobg"></a>
<div id="login"><a ng-click="VkLogin()" ng-href="https://oauth.vk.com/authorize?client_id=4600276&scope=notify,friends&redirect_uri=http://plumlove.ru/auth/&response_type=code">Войти через ВКонтакте</a></div>
<div id="index_text">
    20<span>1</span><span>4</span> год - Алчность захватила преобладание над людьми.
    Люди, находясь в вымышленном
    плену у своих желаний
    забывая о истинных ценностях нашего мира
    пытаются вырваться из цепей любой ценой. В наше время любая услуга подлежит оплате.
    Из них более 60% не имеют материальной ценности как таковой.
    Мы платим за возможность общаться друг с другом - радость которую можем и хотим дарить другим.<br><br>
    <font style="font-weight: 400;">PLUM</font> поможет проложить больше связей между ячейками общества автоматизируя процесс знакомства, почувствовать свободу в выборе партнера и избавит вас от лишних забот.
</div>
<div id="index_footer">
    Будьте, пожалуйста, внимательны при заполнении данных. Во время регистрации вам будет выдан уникальный идентификатор, соответсвующий вашей странице  &laquo;ВКонтакте&raquo;. Привязку можно выполнить только один раз.
</div>
<div class="bglayer"></div>
<video autoplay loop id="bgvid">
    <source src="../../angular/img/bg/bg1.mp4" type="video/mp4">
</video>
</body>
</html>